# config file used to generate requirements-dev.txt
#
# pip-compile requirements-dev.in --output-file requirements-dev.txt

pip-tools

# docs
guzzle-sphinx-theme
sphinx
sphinx-click
travis-sphinx

# testing
factory_boy
faker
pytest
pytest-flask
pytest-watch
tox
